/*******************/
/*** MAIN LAYOUT ***/
/*******************/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.screen{
    height: 100vh;
    min-height: 100vh;
    max-height: 100%;
    position: relative;
    display: flex;

    background: black no-repeat;
    background-position: center;
    background-size: cover;
}




/*************/
/*** FONTS ***/
/*************/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    font-size: 80px;
    font-weight: bold;
}

h5{
    font-size:18px;
}

.btn-warning{
    font-size: 16px;
    font-weight: bold;
    color:black;
    min-width: 200px;
}

.colored-text{
    color:#C09039;
}



/*****************/
/*** MAIN PAGE ***/
/*****************/

#main-header{
    background-color: rgba(0,0,0,0.7);
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo{
    margin-left: 10%;
    margin-right: 10%;
}

#main-navigation{
    width: 100%;
}

.navbar-nav{
    column-gap: 5vh;
}

#main-content{
    row-gap: 5vh;
    height: 100%;
}

#static-footer{
    row-gap: 1vh;
}



/******************/
/* THE GAMES PAGE */
/******************/

#the-games-page{
    padding-top: 8%;
    padding-left: 8%;
    padding-right: 8%;  
}

#content-the-games{
    height: 100%;
    position: relative;
    margin-bottom: 5%;
}

.carousel-inner{
    height: 70vh;
    width: 65vw;
    display: flex;
    align-items: center;
    z-index: 0;
}

#carousel-area .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

#carouselExampleIndicators{
    margin-bottom: 15%;
}

/* CUSTOMIZED CAROUSEL ELEMENTS*/
.carousel-control-prev, .carousel-control-next{
    position:relative;
    opacity:1;
    padding: 2px;
}

.carousel-control-prev-icon{
    background-image:url("../assets/switch-left.svg");
    scale:2;
}

.carousel-control-next-icon{
    background-image:url("../assets/switch-right.svg");
    scale:2;
}

.carousel-item img{ 
    object-fit: fill;
    overflow-y: hidden;
    height: 100%;
}

.carousel-indicators{
    display: flex;
    column-gap: 30px;
    z-index: 15;
    list-style: none;
}

.carousel-indicators .active{
    background-image: url(../assets/ellipse.svg);
}




/*********************/
/*** FEATURES PAGE ***/
/*********************/

#feature-body{
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;    
    margin-left: 60%;
}

.card{
    background-color: transparent;
}

.card-header{
    padding-bottom: 2%;
}

.card-body{
    margin-left:1%;
    padding-top:0;  
}

#accordion-title, #accordion-content{
    padding-left:8%;
    padding-top:0;
}

#vertical-line{
    border: solid white 3px;
    height: 100px;
}

#headingTwo, #headingThree{
    padding-top:0;
}



/***********************/
/*** SYSTEM REQ PAGE ***/
/***********************/

#system-req-page{
    padding: 5%;
    background-image: linear-gradient(45deg, black, black);
}

#system-req-header{
    text-align: center;
    margin-bottom: 5vh;
}

#system-req-section{
    margin-right: 50%;
}

#system-req-title{
    margin-bottom: 5vh;
}

.container{
    height: 85%;
    display:flex;
    flex-direction: column;
}

.row{
    height: 100%;
}

.col-sm{
    border: solid #AC9C74 0.5px;
}

.colored-text{
    color:#C09039;
    padding-top: 12px;
    padding-left: 8px;
}

.system-desc{
    padding-left: 8px;
    padding-right: 8px;
}



/***********************/
/*** TOP SCORES PAGE ***/
/***********************/

#top-scores-body{
    width: 100vw;
    padding-right:10%;
}
#top-scores-header{
    padding-left:5%;
    padding-right:5%;
}

.top-scores-gap{
    padding-top: 5%;
    padding-bottom: 5%;
}

#scorecard-area{
    width: 50%;
    max-height: 70vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

#scorecard2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.scorecard-background{
    background-color: #3c3c3c;
    border-radius: 10px 15px;
    padding: 3%;
    width: 500px;
}

.profile{
    display: inline-block;
    position:relative;
}

.overlay {
    position: absolute;
    bottom:0;
    height: 100%;
    width: 100%;
}



/***********************/
/*** NEWSLETTER PAGE ***/
/***********************/

#newsletter-page{
    padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%;  
    height: 100%;
}

#newsletter-section{
    background-image: linear-gradient(90deg, rgba(12, 12, 12, 0.5),rgba(255, 255, 255, 0)), url(../assets/skull.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 10%;
    padding-left: 40%;
    height: 100%;
}

#newsletter-article-area{
    margin-left: 10%;
    max-width: 70%;
}

#newsletter-gap{
    padding-top: 4%;
    padding-bottom: 2%;
}

#newsletter-form{
    width: 100%;
    height: 75px;
    padding-top:1%;
    background-color: #222222;
    border-radius: 5%;
}

#newsletter-button .btn{
    width: 100%;
    height: 100%;
    margin-left: 50px;
    font-size: 20px;
}

#footer-line{
    border:solid white 1px;
}

#newsletter-navigation{
    display: flex;
    justify-content: end;
}


/***********************/
/*** HOVER ANIMATION ***/
/***********************/

.nav-item:hover{
    background-color: #C09039;
    transition: all 0.4s ease 0s; 
}

.btn:hover, .move-icon:hover{
    transform: scale(1.20);
    transition: all 0.4s ease 0s;
}

.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{
    scale: 1.5;
}



/*************************/
/*** RESPONSIVE DESIGN ***/
/*************************/

@media (orientation: portrait ) {
    h1{font-size:60px;}
    .display-3{font-size:40px;}
    h4{font-size:24px;}
    h5{font-size:16px;}

    #features-page{
        background-position: 45%;
    }

    #the-games-page, #top-scores-page{
        background-position: left;
    }
    
    #system-req-page{
        background-position: 80%;
    }
    
    #inner-wrapper-the-games{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #content-the-games{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #feature-body{    
        margin-top:2%;
        margin-right:5%;
        margin-left: 45%;
    }

    #vertical-line{
        height: 150px;
    }

    #system-req-header{
        padding-top:15%;
        padding-bottom: 0%;   
    }

    #system-req-section{
        margin-right: 0;
        text-align: left;
    }

    #system-req-table{
        margin-top:3em;
    }

    #system-req-table.row{
        height: 80%;
    }

    #top-scores-body{
        flex-direction: column;
        justify-content: center;
        padding-right:0;
        width: 100%;
    }

    #top-scores-header{
        padding-left: 10%;
        padding-right: 10%;
    }

    #scorecard-area{
        width: 100%;
        align-items: center;
    }

    #scorecard1, #scorecard2, #scorecard3{
        scale:0.9;
    }

    #newsletter-section{
        background-size:contain;
        background-position: top;
        padding-left: 0;
    }

    #newsletter-article-area{
        padding-top:0;
        width: 100%;
    }

    #newsletter-gap{
        flex-direction: column;
        align-items: start;
        height: 100%;
    }   

    #newsletter-button .btn{
        width: 70%;
        height: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    #newsletter-navigation{
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width:1500px) and (orientation:landscape){
    h1{font-size:72px;}
    .display-3{font-size:40px;}
    h5{font-size:18px;}
    #static-footer{row-gap: 0.3vh;}
    .move-icon{scale:0.7}
}

@media only screen and (max-width:1100px) and (orientation:landscape){
    h5{font-size:16px;}
    #system-req-section{
        margin-right: 0;
    }

    #scorecard-area{
        width: 70%;
    }
    
    .scorecard-background{
        border-radius: 10px 15px;
        padding: 3%;
        width: 400px;
    }

    .scorecard{
        scale:0.9;
    }

    #newsletter-section{
        background-position: 5%;
        padding-left:30%;
    }

    #newsletter-navigation{
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width:650px) and (orientation:landscape){
    h1{font-size:54px;}
    .display-3{font-size:30px;}
    h5{font-size: 16px;}
    
    .btn-warning{scale: 1}
    #static-footer{row-gap: 0.3vh;}
    .move-icon{scale:0.7}

}

