<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="reg_stylesheet.css">

</head>
<body>
    <div class="screen" id="welcome-page" style="background-image: url(main-bg.jpg);">
        <div id="welcome-message">
            <h1>WELCOME, <%= username %> !</h1>
            <br>
            <image src="/image" height="200" width="200"/>
            <br>
            <div id="play-button">
                <a href="/the-games/rock-paper-scissors"><button class="btn-warning" type = "submit" >PLAY GAMES ! </button></a>
                <a href="/"><button class="btn-warning" type = "submit" >BACK TO HOME PAGE</button></a>
            </div>    
        </div>
    </div>
</body>

</html>
